Week_14/jsx/node_modules
Week_14/jsx-carousel-01/node_modules
Week_14/jsx-carousel-02/node_modules
Week_14/jsx-carousel-03/node_modules
Week_14/jsx-carousel-04/node_modules
Week_15/carousel-03/node_modules
.vscode